<div class="new-question-form">
  {{input type="text" placeholder="Date Submitted" value=date class="date-input"}}
  {{input type="text" placeholder="Answer" value=answer_body class="answer_body-input"}}
  <button {{action 'addAnswer'}} class="submit"> Submit</button>
</div>
