<div class="new-question-form">
  {{input type="text" placeholder="Author" value=author class="author-input"}}
  {{input type="text" placeholder="Description" value=description class="description-input"}}
  {{input type="text" placeholder="Body" value=body class="body-input"}}
  <button {{action 'addQuestion'}} class="submit"> Submit</button>
</div>
